# البيئات الافتراضية
venv/
env/
ENV/
.venv/

# الملفات السرية
.env

# مخلفات بايثون
__pycache__/
*.pyc

# نماذج مدربة وملفات كبيرة (متتحطش على GitHub)
*.pt
*.onnx
runs/

# بيانات التدريب (كبيرة الحجم، بتتنزل من Roboflow وقت الحاجة)
Lipton_Task-2/

# ملفات نظام التشغيل والمحرر
.DS_Store
.vscode/
.idea/